.section
{
	width: auto;
	padding: 50px;
}

.background_image
{
	position: fixed;
	top: 0;
	z-index: -10;
	width:120%;
}

.introtext
{
    width: 900px;
    margin: auto;
    font-size: 29px;
    text-align: center;
}

.credits
{
    font-size: 14px;
}

#s1, #s2, #s3, #s4
{
	background-size: 120%;
}

.tweet
{
    margin: auto;
    width: 500px;
}

#logo_section
{
    width:900px;
    margin: auto;
}

.logo
{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}

p
{
    width: 900px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

a
{
    color: rgb(255, 171, 108);
}