.section
{
	width: auto;
	padding: 50px;
}

.background_image
{
	position: fixed;
	top: 0;
	z-index: -10;
	width:120%;
}

.introtext
{
    width: 900px;
    margin: auto;
    font-size: 29px;
    text-align: center;
}

#s1, #s2, #s3, #s4
{
	background-size: 120%;
}

.tweet
{
    margin: auto;
    width: 500px;
}