{% load tweet_tags %}
{% load score_visualisation %}

<h2>Tienerscore</h2>
<div class="age_meter">{{ meterscores_per_class.onder20|show_score_visualisation:profile_image_url }}</div>

<h2>Meest tienerachtige tweets</h2>
{% for tweet in most_extreme_tweets.onder20|slice:":3" %}
{{ tweet.id|show_tweet }}
<div class="confidence_bubble age_confidence">{{ tweet.automatic_classifications.age.onder20|show_fraction_as_percentage }}<span class="percentage">%</span></div>
{% endfor %}

<div style="height:200px;"></div>

<h2>Jongvolwassenescore</h2>
<div class="age_meter">{{ meterscores_per_class.20tot40|show_score_visualisation:profile_image_url }}</div>

<h2>Meest jongvolwassen tweets</h2>
{% for tweet in most_extreme_tweets.age_classifier.20tot40|slice:":3" %}
{{ tweet.id|show_tweet }}
<div class="confidence_bubble age_confidence">{{ tweet.automatic_classifications.age.20tot40|show_fraction_as_percentage }}<span class="percentage">%</span></div>
{% endfor %}

<div style="height:200px;"></div>

<h2>Volwassenescore</h2>
<div class="age_meter">{{ meterscores_per_class.40plus|show_score_visualisation:profile_image_url }}</div>

<h2>Meest volwassen tweets</h2>
{% for tweet in most_extreme_tweets.40plus|slice:":3" %}
{{ tweet.id|show_tweet }}
<div class="confidence_bubble age_confidence">{{ tweet.automatic_classifications.age.40plus|show_fraction_as_percentage }}<span class="percentage">%</span></div>
{% endfor %}
