<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "js/parallax.js" %}"></script>
</head>
<body>


<img class="background_image" id="bg0" src="{% static "img/bg0.jpg" %}">

{% for classifier_section in classifier_sections %}
{% with i=forloop.counter|stringformat:"s" %}
{% with "img/bg"|add:i|add:".jpg" as image_static %}
<img class="background_image" id="bg{{ forloop.counter}}" src="{% static image_static %}">
{% endwith %}
{% endwith %}
{% endfor %}

<div class="section" id="s0">
Hier komt de hoofdtekst
</div>

{% for classifier_section in classifier_sections %}

<div class="section" id="s{{ forloop.counter }}">

{% with ""|add:classifier_section.template_name|add:".html" as template %}
{% include template %}
{% endwith %}

</div>

{% endfor %}
</body>
</html>
