<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/twittername_entry.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fanwood+Text' rel='stylesheet' type='text/css'>

</head>
<body>

    <script type="text/javascript">

        //Change the link based on what the user inputs
        $(window).ready(function()
        {
            $("input").change(function()
            {
                var action = $(this).val();
                $("form").attr("action", "/analyze/" + action);
            });
        });

    </script>

	<div class="mainframe">
		<h1>You are what you tweet</h1>
        <p>Op basis van je Twittergedrag valt behoorlijk veel van je af te leiden. In deze demo willen we je laten zien wat onze technologie over jou denkt te weten.</p>
		<div class="enterfield">
            <form method="GET" action="analyze"><label>@</label><input name="user" class="text-input"><input class="button" type="submit" value="Analyzeer!"></form>
        </div>
        <p class="suggestions">Suggesties: <a href="results/jochemmyjer">jochemmyjer</a>, <a href="results/sylviawitteman">sylviawitteman</a>,
            <a href="results/willemhoIIeeder">willemhoIIeeder</a>, <a href="results/geertwilderspvv">geertwilderspvv</a> </p>
	</div>

</body>
</html>
